!!!
html
  head
    script(src="http://code.jquery.com/jquery.min.js")
    link(href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css",rel="stylesheet",type="text/css")
    link(href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css",rel="stylesheet",type="text/css")
    script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js")

  body
    div.container
      h1 Helmet CSP Violations
      p Hey, either your htmls be suck'n or your policy is. Here are some violations.
      -each value, key in violations
        div.row
          div.span1
            span.label.label-warning= value
          div.span8
            pre= JSON.stringify(JSON.parse(key), null, 2)
